html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Open Sans', sans-serif;

}


/* appointment button */

/* started button */
.started-btn{
    color:white;
    width: 170px;
}

/* middle underline */
  .parasect {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: #2c4964;
  }
  
  .parasect::before {
    content: "";
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: #ddd;
    bottom: 1px;
    left: calc(50% - 60px);
  }
  
  .parasect::after {
    content: "";
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: #1977cc;
    bottom: 0;
    left: calc(50% - 20px);
  }
/* navbar section */
.logoimg{
    width:70px;

}
.nav-1{
  position: sticky !important;  
  top: 0;
  z-index: 9999;
}
/* welcome section */
.Welcome{
    background-image:url(./img/hero-bg.jpg);
    background-size: cover;
    height: 78vh;
    margin-bottom: -10vw;
    background-attachment: fixed;
}

.wel{
padding-top: 15vh;
}
/* Choose section */

.btn-learn{
    color:white;
    background-color:rgb(96 165 250);
    width: 150px;
    border: 0;
  
}
.btn-learn:hover{
    background-color: white;
    color:blue;
}

/* enim section */
.img-hover:hover{
    background-color: rgb(73, 73, 233);
    color: white;
}
.dine:hover{
    color: blue;
}
/* services section */
.serviceshover:hover{
    background-color:rgb(73, 73, 233) ;
    color: white;
}
.servicesimg{
    width:70px;
    background-color:rgb(73, 73, 233);
}
.servicesimg:hover{
    background-color:rgb(55, 136, 236) ;
}
.servicestext:hover{
    color: white;
}
/* Departments section */
.cardio-depart{
    list-style-type: none;
}
.cardio-list a{
    text-decoration: none;
    color: rgb(43, 42, 42);
}
.cardio-list a:hover{
    color: rgb(76, 76, 251);   
  
}
.cardio-list1 a{
    text-decoration: none;
    color: rgb(76, 76, 251);
}
/* doctors section */
.iconcolor1{
    color: white;
    background-color:rgb(148 163 184);
}
.iconcolor1:hover{
    background-color: rgb(63, 63, 243);
}


/* Frequently section */
.frequen:hover{
    color: rgb(11, 63, 122);
}
/* location */
.loca-sec{
    background-color: rgb(200, 210, 212);
    color: blue;
}
.loca-sec:hover{
    background-color:rgb(50, 50, 234);
    color: white;
}
/* footer section */
.footer-sect{
color:  rgb(107 114 128);

}
.footericon{
    color: rgb(101, 101, 240);
}
.last-button{
margin-left: -60px;
}
.lastsectionfo{
    box-shadow: 0 4px 6px -1px rgba(0,0,0,0.5);
}
.iconcolor2{
    color: white;
    background-color: rgb(6, 118, 155);
    border-radius: 50%;
}
.iconcolor2:hover{
  background-color: rgb(82, 82, 246) ; 
}
.parent{
    overflow: hidden;
    position: relative;
    display: inline-block;
    cursor: pointer;
    width: 100%;
  
}
.zoomimage{
    transition:all 1.1s;
}
.parent:hover .zoomimage{
    transform: scale(1.2);
}
.parent1{
    overflow: hidden;
    position: relative;
    display: inline-block;
    cursor: pointer;
    width:170px;
    border-radius: 50%;
}
.zoomimage1{
    transition:all 1.1s;
    width: 100%;
    border-radius: 50%;
}
.parent1:hover .zoomimage1{
    transform: scale(1.2);
}