html{
    scroll-behavior: smooth;
}
/* navbar section */
.logoimg{
    width: 4vw;

}
.nav-1{
  position: sticky;  
  top: 0;
}
/* welcome section */
.Welcome{
    background-image:url(./img/hero-bg.jpg);
    background-size: cover;
    height: 78vh;
    margin-bottom: -10vw;
}

.wel{
padding-top: 15vh;
}
/* Choose section */
.btn-learn{
    color:white;
    background-color:rgb(96 165 250);
    width: 10vw;
    border: 0;
  
}
.btn-learn:hover{
    background-color: white;
    color:blue;
}
.first-card{
   height: 20vw;
 
    color:rgb(21 94 117);
}
/* enim section */
.img-hover:hover{
    background-color: rgb(73, 73, 233);
    color: white;
}
.dine:hover{
    color: blue;
}
/* services section */
.serviceshover:hover{
    background-color:rgb(73, 73, 233) ;
    color: white;
}
.servicesimg{
    width: 4vw;
    background-color:rgb(73, 73, 233);
}
.servicesimg:hover{
    background-color:rgb(55, 136, 236) ;
}
.servicestext:hover{
    color: white;
}
/* Departments section */
.cardio-depart{
    list-style-type: none;
}
.cardio-list a{
    text-decoration: none;
    color: rgb(43, 42, 42);
}
.cardio-list a:hover{
    color: rgb(76, 76, 251);   
  
}
.cardio-list1 a{
    text-decoration: none;
    color: rgb(76, 76, 251);
}
/* doctors section */
.iconcolor1{
    color: white;
    background-color:rgb(148 163 184);
}
.iconcolor1:hover{
    background-color: rgb(63, 63, 243);
}
.doctors-hover:hover{
      transform: scale(1.2);
}
/* Frequently section */
.frequen:hover{
    color: rgb(11, 63, 122);
}